/*
 * This file has css class names which are only used in 
 * cloudflare-frontend code base.
 */

/* App navigation bar */
.cloudflare-partners .app-navigation-tabs-wrapper {
    padding: 1rem;
    background-color: #FFF;
}

/* Active zone selector */
.cloudflare-partners .active-zone-selector__multiplezone {
    margin: 0.1rem auto 0;
}

/* Active zone selector */
.cloudflare-partners .active-zone-selector__singlezone {
    margin: 0.6rem auto 0;
}

/* Under attack button component */
.cloudflare-partners .under-attack-button {
    font-size: 75%;
    padding: 0.4rem 1rem 0.5rem 0.5rem;
    text-align: right;   
}